@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.my_input {
  @apply bg-white w-full h-full bg-transparent text-gray-700 font-sans outline outline-0
   border-gray-200
   focus:border-teal-500
}



@layer components {
    .btn-my {
      @apply bg-teal-500 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
    }

   
}


.btn_rock {
  width: 200px;
  height: 200px;
  background-image: url("./PRS/rock.svg");
  background-repeat: no-repeat;
  
}

.btn_paper {
  width: 200px;
  height: 200px;
  background-image: url("./PRS/toilet-paper.svg");
  background-repeat: no-repeat;
  background-size: contain;
  
}

.btn_sci {
  width: 200px;
  height: 200px;
  background-image: url("./PRS/scissors.svg");
  background-repeat: no-repeat;
}